doctype html
html
    head
        title=name
        link(rel='stylesheet' href='./index.css')
    body.page
        div.header
            h1.header__title GitHub data
        main.content
            section.runs
                h2.runs__title Runs
                if values
                    table.table
                        thead
                            tr
                                each column in columns
                                    th.table__column.table__column_type_head=column
                                th.table__column.table__column_type_head="actions"
                        tbody
                            each val in values
                                tr
                                    each column in columns
                                        td(class=`table__column table__column_type_body table__column_name_${column}`)=val[column]
                                    td.table__column.table__column_type_body.table__column_button
                                        if val['conclusion'] !== 'success'
                                            button.table__button="Rerun"
                else
                    p There are no values
        script(type="module" src='./index.js')
        script(type="module" src='./utils/constants.js')
        script(type="module" src='./utils/api.js')
